<div class="row">
    <div class="col-md-3">

        <div class="panel panel-default">
          <div class="panel-body">
           
            <h5 style="color: grey; font-size: 125%;">Home Page</h5>
            <p style="opacity: 0.5; font-size: 90%;">
              This is TWITTAR's home page where anyone can view, including non-registered guests.
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-body">
             <h5 style="color: grey; font-size: 125%;">Trends for you</h5>
              <a href="#">#AlphaCampWeek6 </a><br>
                <p style="color: grey;">30k Tweets</p>
              <a href="#">#CodingBootcamp </a><br>
                <p style="color: grey;">20k Tweets</p>
              <a href="#">#TwitterClone</a><br>
                <p style="color: grey;">15k Tweets</p>
              <a href="#">#Halfway</a><br>
                <p style="color: grey;">15k Tweets</p>
          </div>
        </div>

    </div>

    <div class="col-md-6">

<!-- TWEET FORM --> 
       <div style="padding-bottom: 10px;">
            <%= render '/components/tweet_form' %>
        </div>
<!-- TWEET FORM --> 

        <br>

      <!-- ALL TWEETS -->
            <% for @tweet in @tweets %>
                <div class="panel panel-default post-panel">
                  <div class="panel-body row">

                      <div class="col-xs-1">
                          <%= user_avatar %>
                      </div>
            
                      <div class="col-xs-11">
                          <p class="post-title"><span class="post-owner"><%= link_to User.find(@tweet.user_id).username, tweet_path(@tweet) %></a></span> 
                          <span class="post c-creation">- <%= @tweet.created_at.to_formatted_s(:short) %></span></p>
                          <p class="post-content"><%= @tweet.tweet %></p>
                      </div>

                      <div class="col-sm-10 col-sm-offset-1">
                           <div id = "likes_section-<%=@tweet.id%>">
                                <%= render "likes/like" %> 
                            </div>

                          <div class = "col-md-9">
                                <span id = "reply_section-<%=@tweet.id%>">
                                    <%= render "replies/reply", { reply: @reply } %>
                                </span>

                              <% @tweet.replies.each do |reply| %>
                              <p><b><%= User.find(reply.user_id).username %></b> 
                               <%= reply.body %></p>
                              <% end %>
                          </div>
                      </div>

                  </div>
                </div>
           <% end %>

        <div class="panel panel-default post-panel">
          <div class="panel-body row">
            <div class="col-md-12">
              <center>
                <a href="#top"><p class="opacity: .7;">Back to Top <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></p></a>
              </center>
            </div>
          </div>
        </div>

    </div>



    <div class="col-md-3">
        <div class="panel panel-default">
          <div class="panel-body">
             <h5 style="color: grey; font-size: 125%;">Who to follow</h5>
                <% for user in @latestUsers do %>
                      <p style="font-weight: bold; opacity: 0.85;" >
                      <a href="/user/<%= user.id %>">
                      <%= user.username %></a></p>
                <% end %>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-body">
            <p style="opacity: 0.5; font-size: 90%;">© 2017 TWITTAR Created by Jacinta Nicole Sherlynn <br> <br>About  Help  Terms  Privacy  Cookies  Ads Info  Brand  Blog  Status  Apps  Jobs  Advertise  Businesses  Media  Developers</p>
          </div>
        </div>


    </div>

</div>
