<div class="row">

    <div class="col-xs-3">
      <div class="col-sm-12" style="margin-top: -200px;">
           
      </div>


<div class="panel panel-default">
          <div class="panel-body">
              <div class="col-sm-12">
          <h3 style="font-weight: bold;"><%= params[:id] %></h3>


            <p> Hello, Add a new tweet! </p>
              </div>
          </div>
        </div>


 
    </div>
    
    <div class="col-xs-6">
    
      <%= render '/components/tweet_form' %><br><br>






        
        <% for @tweet in @tweets %>
        <div class="panel panel-default post-panel">
          <div class="panel-body row">
            
            <div class="col-sm-1">
                <%= user_avatar %>
                </div>
            
          <div class="col-xs-11">
              <p class="post-title"><span class="post-owner"><%= link_to User.find(@tweet.user_id).username, tweet_path(@tweet) %></a></span>   <span class="post-creation">- <%= @tweet.created_at.to_formatted_s(:short) %></span></p>
              <p class="post-content"><%= @tweet.tweet %></p>
            </div>

            
            <div class="col-sm-11 col-sm-offset-1">
              
                <span> <div id = "likes_section-<%=@tweet.id%>">
                  <%= render "likes/like" %> 
                </div></span>
                <br>


                <% @tweet.replies.each do |reply| %>
                          <p><b><%= User.find(reply.user_id).username %></b> 
                          <%= reply.body %></p>
                <% end %>


            </div>
            
          </div>
        </div>
        <% end %>
        
        <div class="panel panel-default post-panel">
          <div class="panel-body row">
            <div class="col-sm-12">
            <center>
              <a href="#top"><p class="opacity: .7;">Back to top <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></p></a></center>
            </div>
          </div>
        </div>
    </div>
    
    <div class="col-xs-3">
      
       
        
        <div class="panel panel-default">
          <div class="panel-body">
             <h5 style="color: grey; font-size: 125%;">Trends</h5>
               <a href="#">#AlphaCampWeek6 </a><br>
                <p style="color: grey;">30k Tweets</p>
              <a href="#">#CodingBootcamp </a><br>
                <p style="color: grey;">20k Tweets</p>
              <a href="#">#TwitterClone</a><br>
                <p style="color: grey;">15k Tweets</p>
              <a href="#">#Halfway</a><br>
                <p style="color: grey;">15k Tweets</p>
          </div>
        </div>
    </div>
</div>