<!DOCTYPE html>
<html>
  <head>
    <title>Twittar</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <!-- navbar start --> 
   <div class="nav navbar navbar-inverse">
      <div class="container">
        <div class="navbar-brand"> 
          <%= link_to "Twittar", root_path %> 
         </div>
            <ul class="nav navbar-nav navbar-left">
              <li><%= link_to "by Jacinta Nicole Sherlynn", root_path %></li>
            </ul>

            <% if user_signed_in? %>
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to "New Tweet", root_path %></li>
              <li><%= link_to "Profile", tweet_path(@tweet) %></li>
              

              <li><%= link_to "Settings", edit_user_registration_path %></li>
              <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
            </ul>

            <% else %>
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to "Join", new_user_registration_path %></li>
              <li><%= link_to "Log In", new_user_session_path %></li>            
            </ul>
            <% end %>
        
      </div>
    </div>
<!-- navbar end --> 

<!-- If user present-->
<% if params[:id] != nil %>
  <% @url = '/user/' + params[:id] %>
  <% if current_page?(@url) %>
    <!-- user image -->
    <div class="row">
      <div class="col-sm-12" style="background-color: white;">
        <div class="container">
          <div class="col-sm-3">&nbsp;</div>
          <div class="col-sm-6" style="margin-top: 5px">
            <div class="col-sm-2" style="font-size: 100%; opacity: 0.7;">TWEETS<br>
                    <h6 style="color: #0084B4; font-size: 150%;"><%= User.find_by_username(params[:id]).tweets.count %></h6></div>
            <div class="col-sm-2" style="font-size: 100%; opacity: 0.7;">FOLLOWERS<br>
                    <h6 style="color: #0084B4; font-size: 150%;"><%= User.find_by_username(params[:id]).followers.count %></h6></div>


               <div class="col-sm-2" style="font-size: 100%; opacity: 0.7;">FOLLOWING<br>
                    <h6 style="color: #0084B4; font-size: 150%;"><%= User.find_by_username(params[:id]).following.count %></h6></div>


            <% if user_signed_in? %>
              <div class="col-sm-8" style="text-align: right; margin-top: 5px;"><a href="/users/edit"><li type="button" class="btn btn-default" style="color: grey; opacity: 0.8; font-weight: bold;">EDIT PROFILE</li></a></div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
<!-- If user present end-->



	<div class="container">
<!-- flash start --> 
  	<% flash.each do |name, msg| %>
  		<%= content_tag :div, msg, class: "alert alert-info"%>
  	 <% end %>
<!-- flash end --> 


<!-- yield start --> 
    	<%= yield %>
<!-- yield start --> 
    </div>

  </body>

</html>